.characterData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardData {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1875rem solid #36b0c7;
  max-width: 40rem;
  overflow: hidden;
  list-style: none;
  background: rgb(23, 255, 23);

  &__description {
    display: block;
    margin: 0;
    padding: 0.3rem 1rem;
    font-size: 1.1rem;
    font-weight: bolder;
    color: rgb(155, 2, 155);
  }
}

.card__img {
  width: 100%;
}

.form__btn {
  margin: 0.25rem;
  padding: 0.35rem 0.8rem;
  text-align: center;
  background-color: #36b0c7;
  border: solid 2px rgb(23, 255, 23);
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: 0.8rem;
  vertical-align: middle;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  outline: none;
  color: rgb(155, 2, 155);
}

.heart-icon {
  color: red;
}

.dead-icon {
  color: whitesmoke;
}

.person-icon {
  color: rgb(9, 9, 139);
}

.alien-icon {
  color: rgb(23, 255, 23);
}
