.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  background-color: #36b0c7;
  border: 0.1875rem solid rgb(23, 255, 23);
  overflow: hidden;
}

.card__img {
  width: 100%;
}

.card__description {
  display: block;
  margin: 0;
  padding: 0.3rem 1rem;
  color: rgb(155, 2, 155);
  font-size: 1rem;
  font-weight: bold;
}
