.filter {
  display: flex;
  justify-content: center;
  &__input-text {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 0.3rem;
    width: 35rem;
    background-color: rgb(37, 33, 33);
    border: solid 1px rgb(79, 236, 79);
    border-radius: 0.3rem;
    font-size: 1rem;
    color: rgb(79, 236, 79);
    outline: none;
    vertical-align: middle;
  }
}

.filter__input-text::placeholder {
  color: rgb(79, 236, 79);
  text-align: center;
  text-transform: uppercase;
}

.filter__input-text:focus {
  background-color: rgb(90, 80, 80);
}
